@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;1,300&family=Josefin+Slab:ital,wght@0,500;1,400&display=swap');

img,
embed,
object,
video {
  max-width: 100%;
}

html {
  font-size: 16px;
}

body {
  background-color: #fff9f7;
  margin: 20px;
  max-width: 100vw;
}

.screen-reader-text {
  position:absolute;
  left:-10000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
}

.text--ital {
  font-style: italic;
}

.text--lg {
  font-size: 1.3rem;
}

.text--serif {
  font-family: 'Josefin Slab', serif;
}

/**
Intro section.
Text appears/disappears centered while scrolling.
*/
.intro {
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

.intro__wrapper {
  height: 100vh;
  scroll-snap-align: center;
}

.js .intro__wrapper {
  opacity: 0;
  transition: opacity 0.4s linear;
}

/* The initial element should be visible on load so Lighthouse can run. */
.js .hello {
  opacity: 1;
}

/* Container for the text. */
.intro__text {
  align-items: center;
  color: #901463;
  display: flex;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.1rem;
  font-weight: 500;
  line-height: 2;
  justify-content: center;
}

/* Progressive enhancement - full vh for intersection observer if JS is enabled. */
.js .intro__text {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 0;
}

@media screen and (min-width: 400px) {
  .intro__text {
    font-size: 1.3rem;
  }

  .text--lg {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 600px) {
  .intro__text {
    font-size: 1.5rem;
  }

  .text--lg {
    font-size: 1.7rem;
  }
}

@media screen and (min-width: 1080px) {
  .intro__text {
    font-size: 1.8rem;
  }

  .text--lg {
    font-size: 2rem;
  }
}

.intro__text p {
  margin: 0 20px;
  text-align: center;
}

.intro__text a {
  color: #8a0863;
  font-family: 'Josefin Slab', serif;
}

.intro__text a:hover,
.intro__text a:focus {
  font-style: italic;
}

.intro__text--porfolio-links {
  flex-direction: column;
}

.intro__text--waterfall {
  display: block;
  text-align: left;
}

.intro__text--waterfall:nth-child(2) {
  margin-left: 20px;
}

.intro__text--waterfall:nth-child(3) {
  margin-left: 50px;
}

.intro__text--waterfall:nth-child(4) {
  margin-left: 80px;
}

.intro__text--waterfall:nth-child(5) {
  margin-left: 110px;
}

.intro__text--waterfall:nth-child(6) {
  margin-left: 140px;
}

.intro__text--waterfall:nth-child(7) {
  margin-left: 170px;
}

.intro__text--waterfall:nth-child(8) {
  margin-left: 200px;
}

.intro__text--waterfall:nth-child(9) {
  margin-left: 230px;
}

.intro__text--waterfall:nth-child(10) {
  margin-left: 260px;
}

/* Scroll icon */
.scroll-icon {
  border-right-width: 1px;
  border-right-color: #901463;
  border-right-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #901463;
  border-bottom-style: solid;
  transform: rotate(45deg);
  height: 10px;
  width: 10px;
  margin-left: auto;
  margin-right: auto;
}

.scroll-icon--two {
  margin-top: -5px;
}

@media screen and (min-width: 600px) {
  .scroll-icon {
    height: 13px;
    width: 13px;
  }

  .scroll-icon--two {
    margin-top: -7px;
  }
}

@media screen and (min-width: 1080px) {
  .scroll-icon {
    height: 16px;
    width: 16px;
  }

  .scroll-icon--two {
    margin-top: -9px;
  }
}

.scroll-text {
  color: #8a0863;
  font-family: 'Josefin Slab', serif;
  font-size: 0.75rem;
  margin-bottom: 0;
  text-transform: uppercase;
}

.scroll-wrapper {
  position: fixed;
  bottom: 40px;
  right: 20px;

  /* Element fades into view on load */
  opacity: 0;
  transition: opacity 0.75s linear;
}

/* TODO: use prefers-reduced-motion */
.scroll-icon-wrapper {
  animation-duration: 0.6s;
  animation-name: bounce;
  animation-iteration-count: 6;
  animation-direction: alternate;
  position: relative;
}

@keyframes bounce {
  from {
    bottom: 0;
  }

  to {
    bottom: -5px;
  }
}
